<div class="container">
    <div class="details-account">
        <div class="card-list" *ngFor="let account of accounts">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Tipo de cuenta {{account.account_type}} </mat-card-title>
                    <mat-card-subtitle>Saldo: ${{clpFormat(account.account_amount)}}</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
        </div>

        <div class="container-transaccion">
            <mat-accordion>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Abono
                        </mat-panel-title>
                        <mat-panel-description>
                            Operación para realizar un abono a la cuenta
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-form-field class="example-full-width">
                        <mat-label>Depositar</mat-label>
                        <input type="number" matInput [(ngModel)]="depositaccount" placeholder="Ex. 100000" name="deposit">
                    </mat-form-field>
                    <button mat-button (click)='deposit()'>Depositar</button>
                </mat-expansion-panel>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Retiro
                        </mat-panel-title>
                        <mat-panel-description>
                            Operación para realizar un retiro a la cuenta
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-form-field class="example-full-width">
                        <mat-label>Retiro</mat-label>
                        <input type="number" matInput [(ngModel)]="withdrawMoney" placeholder="Ex. 100000" name="withdrawMoney">
                    </mat-form-field>
                    <button mat-button (click)='withdraw()'>Retiro</button>
                </mat-expansion-panel>
            </mat-accordion>
        </div>

    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="Fecha Transacción">
            <th mat-header-cell *matHeaderCellDef> Fecha Transacción </th>
            <td mat-cell *matCellDef="let element"> {{element.movement_date | date:'dd-MM-yyyy'}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Tipo Transacción">
            <th mat-header-cell *matHeaderCellDef> Tipo de Movimiento </th>
            <td mat-cell *matCellDef="let element"> {{transactionFormat(element.id_movement_type)}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="Monto">
            <th mat-header-cell *matHeaderCellDef> Monto </th>
            <td mat-cell *matCellDef="let element"> $ {{clpFormat(element.movement_amount)}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No se encontraron movimientos en la cuenta</td>
        </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5]"></mat-paginator>
</div>